definition_example.json
{"name":"[REDACTED]","id":"/providers/Microsoft.Flow/flows/[REDACTED]","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"AI_Translation_Check_v11","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"[REDACTED]","type":"User","tenantId":"[REDACTED]"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-09-23T23:35:38.8142854Z","connectionKeySavedTimeKey":"2024-09-23T23:35:10.6838595Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"de02374a-75ec-431e-b1c1-2254fd147cfa"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{"Initialize_variable":["Succeeded"],"Initialize_variable_1":["Succeeded"],"Initialize_variable_2":["Succeeded"],"Initialize_variable_3":["Succeeded"]},"metadata":{"01ITDVVSOEMA6G3YDYKBBYG52HTHVJFDEH":"/Documents/AI+Power_Automate/AIQA.xlsx","tableId":"{B71CA3B3-2B57-4F97-8AD2-8F31FF44CC20}","01ITDVVSKTGMVO5LL2YRHYKMMSXVSQOGXF":"/AI/Test/AIQA_4c.xlsx","operationMetadataId":"7fe2912c-3c2e-49ac-8e08-51515ffb94e2","01ITDVVSM7OTKY4PHHSVFZW7D3WNPH2BB2":"/AI/Test/AIQA_3c.xlsx","01ITDVVSP6SA2M35B4OBB37GHAP33N5H2R":"/AI/Test/AIQA_4c.xlsx","01ITDVVSONO3LYBXOKSZFKMRUF3TSBD3ET":"/AI/Test/AIQA_4c_test10.xlsx","01ITDVVSIO4HO2T72MMBA33QKLLJCUE364":"/AI/Test/AIQA_4c.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!EZDGByUt3EmC1bVtJnuZEyr9any6bM1HsvYj9kAXmfMWONwFPKVxSZQTMJqOX-Jm","file":"01ITDVVSIO4HO2T72MMBA33QKLLJCUE364","table":"{B71CA3B3-2B57-4F97-8AD2-8F31FF44CC20}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Foreach":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"HTTP":{"metadata":{"operationMetadataId":"6bd0a283-3858-420a-aa8d-c5c69353b55b"},"type":"Http","inputs":{"uri":"https://[REDACTED]
-openai-prod.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-15-preview","method":"POST","headers":{"api-key":"[REDACTED]","Content-Type":"application/json"},"body":{"messages":[{"role":"system","content":"Analyze the source text and its translation provided between the expressions ##COMM_START## and ##COMM_END##. Identify any translation errors and classify them based on the following criteria: Error Severity: Minor, Major, Critical. Definition of the error severity: Minor: The translation error which does not affect the meaning. Major: The translation error which affects the meaning to some degree. Critical: The translation error which makes the meaning of the translation opposite or too different from the source text. Error Type: Opposite meaning, Number mismatch, Missing translation, Mistranslation, Grammar error, Misspelling, and Other type. Definition of the error type: Opposite meaning: If the translation conveys an opposite meaning. Number mismatch: If a number in the text between the source text and its translation does not match. Missing translation: If a part of the source text is missing in the translation. Mistranslation: If a word or phrase in the text is mistranslated. Grammar error: If the translation contains some grammar error. Misspelling: If the translation contains some spelling error. Other type: If the translation contains any other type of the error. There are 3 tasks to perform. First task: If the translation contains some type of error, classify the error severity based on the provided definition (Error Severity: 'Minor', 'Major', and 'Critical'). Respond with only the name of the error severity. If the translation does not contain any error, respond with only 'No error'. There is no additional information needed. Second task: If the translation contains some type of error, classify the error type based on the provided definition (Error Type: 'Opposite meaning', 'Mistranslation', 'Missing translation', 'Number mismatch', 'Grammar error', 'Misspelling', and 'Other type'). Respond with only the name of the error type. If the translation does not contain any type of error, respond with only 'No error'. There is no additional information needed. Third task: Translate @{item()?['Target']} into English. Ensure that the translation is literal and maintains the exact meaning of the original text, without any interpretation or alteration. Respond with the translation only. Do not include '##COMM_START##' and '##COMM_END##' in the response. Finally, add '%%%' between the response of the first task, the second task, and the third task."},{"role":"user","content":"##COMM_START##@{item()?['Source']} @{item()?['Target']}##COMM_END##"}],"temperature":0,"top_p":0.95,"frequency_penalty":0,"presence_penalty":0,"max_tokens":4096,"stop":"@null"}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"573d680f-34aa-4510-bcbe-9734df1336ab"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"choices":{"type":"array","items":{"type":"object","properties":{"content_filter_results":{"type":"object","properties":{"hate":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"self_harm":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"sexual":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"violence":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}}}},"finish_reason":{"type":"string"},"index":{"type":"integer"},"message":{"type":"object","properties":{"content":{"type":"string"},"role":{"type":"string"}}}},"required":["content_filter_results","finish_reason","index","message"]}},"created":{"type":"integer"},"id":{"type":"string"},"model":{"type":"string"},"object":{"type":"string"},"prompt_filter_results":{"type":"array","items":{"type":"object","properties":{"prompt_index":{"type":"integer"},"content_filter_results":{"type":"object","properties":{"hate":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"self_harm":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"sexual":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"violence":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}}}}},"required":["prompt_index","content_filter_results"]}},"system_fingerprint":{"type":"string"},"usage":{"type":"object","properties":{"completion_tokens":{"type":"integer"},"prompt_tokens":{"type":"integer"},"total_tokens":{"type":"integer"}}}}}}},"Compose":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"443e3471-108d-49f5-9c6c-c5aa01146e68"},"type":"Compose","inputs":"@split(body('Parse_JSON')?['choices']?[0]?['message']?['content'], '%%%')"},"Set_variable":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"1679e114-c7b2-42d7-bc02-1d1bed77a5d0"},"type":"SetVariable","inputs":{"name":"Task1Response","value":"@outputs('Compose')[0]"}},"HTTP_1":{"runAfter":{"Set_variable":["Succeeded"],"Set_variable_1":["Succeeded"],"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"b9808f5f-d243-4b4b-b817-2686907c86c8"},"type":"Http","inputs":{"uri":"https://[REDACTED]-openai-prod.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-15-preview","method":"POST","headers":{"api-key":"[REDACTED]","Content-Type":"application/json"},"body":{"messages":[{"role":"system","content":"For the input between the expressions ##COMM_START## and ##COMM_END##, compare the input. If both convey exactly the same meaning, respond with only 'Same'. If both convey a slightly different meaning, respond with 'Slightly different:' followed by a short description how it is different. If both convey a totally different meaning, respond with 'Totally different:' followed by a short description how it is different."},{"role":"user","content":"##COMM_START##@{item()?['Source']} @{variables('Task3Response')}##COMM_END##"}],"temperature":0,"top_p":0.95,"frequency_penalty":0,"presence_penalty":0,"max_tokens":4096,"stop":"@null"}}},"Parse_JSON_1":{"runAfter":{"HTTP_1":["Succeeded"]},"metadata":{"operationMetadataId":"199bea0e-a465-4f2f-a147-652bc2cd6af1"},"type":"ParseJson","inputs":{"content":"@body('HTTP_1')","schema":{"type":"object","properties":{"choices":{"type":"array","items":{"type":"object","properties":{"content_filter_results":{"type":"object","properties":{"hate":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"self_harm":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"sexual":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"violence":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}}}},"finish_reason":{"type":"string"},"index":{"type":"integer"},"message":{"type":"object","properties":{"content":{"type":"string"},"role":{"type":"string"}}}},"required":["content_filter_results","finish_reason","index","message"]}},"created":{"type":"integer"},"id":{"type":"string"},"model":{"type":"string"},"object":{"type":"string"},"prompt_filter_results":{"type":"array","items":{"type":"object","properties":{"prompt_index":{"type":"integer"},"content_filter_results":{"type":"object","properties":{"hate":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"self_harm":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"sexual":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}},"violence":{"type":"object","properties":{"filtered":{"type":"boolean"},"severity":{"type":"string"}}}}}},"required":["prompt_index","content_filter_results"]}},"system_fingerprint":{"type":"string"},"usage":{"type":"object","properties":{"completion_tokens":{"type":"integer"},"prompt_tokens":{"type":"integer"},"total_tokens":{"type":"integer"}}}}}}},"Update_a_row":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"01ITDVVSOEMA6G3YDYKBBYG52HTHVJFDEH":"/Documents/AI+Power_Automate/AIQA.xlsx","tableId":"{B71CA3B3-2B57-4F97-8AD2-8F31FF44CC20}","01ITDVVSKTGMVO5LL2YRHYKMMSXVSQOGXF":"/AI/Test/AIQA_4c.xlsx","operationMetadataId":"80cc1644-2851-4ab7-99c5-ce09c68b8fbb","01ITDVVSM7OTKY4PHHSVFZW7D3WNPH2BB2":"/AI/Test/AIQA_3c.xlsx","01ITDVVSP6SA2M35B4OBB37GHAP33N5H2R":"/AI/Test/AIQA_4c.xlsx","01ITDVVSONO3LYBXOKSZFKMRUF3TSBD3ET":"/AI/Test/AIQA_4c_test10.xlsx","01ITDVVSIO4HO2T72MMBA33QKLLJCUE364":"/AI/Test/AIQA_4c.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!EZDGByUt3EmC1bVtJnuZEyr9any6bM1HsvYj9kAXmfMWONwFPKVxSZQTMJqOX-Jm","file":"01ITDVVSIO4HO2T72MMBA33QKLLJCUE364","table":"{B71CA3B3-2B57-4F97-8AD2-8F31FF44CC20}","idColumn":"ID","id":"@item()?['ID']","item/Error Severity":"@variables('Task1Response')","item/Error Type":"@variables('Task2Response')","item/Back Translation":"@variables('Task3Response')","item/Source Comparison":"@variables('Task4Response')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_1":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"670c2846-8834-4e5c-b332-3156512c5e6d"},"type":"SetVariable","inputs":{"name":"Task2Response","value":"@outputs('Compose')[1]"}},"Set_variable_2":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"607162d5-8872-4260-b475-aa1def14a9eb"},"type":"SetVariable","inputs":{"name":"Task3Response","value":"@outputs('Compose')[2]"}},"Condition":{"actions":{"Set_variable_4":{"metadata":{"operationMetadataId":"71834a1e-08ec-4174-b2b8-46368919d0c7"},"type":"SetVariable","inputs":{"name":"Task1Response","value":"Possible error"}},"Set_variable_5":{"runAfter":{"Set_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"8df27716-b400-4af9-b34c-7a3008754e24"},"type":"SetVariable","inputs":{"name":"Task2Response","value":"Possible error"}}},"runAfter":{"Set_variable_3":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"contains":["@variables('Task1Response')","No error"]},{"contains":["@variables('Task4Response')","Totally different:"]}]},"metadata":{"operationMetadataId":"666d77dc-2614-47d2-b5d9-7b7be952e1c4"},"type":"If"},"Compose_1":{"runAfter":{"Parse_JSON_1":["Succeeded"]},"metadata":{"operationMetadataId":"d0be45b6-68f0-4c00-86a7-7254e7ebec82"},"type":"Compose","inputs":"@body('Parse_JSON_1')?['choices']?[0]?['message']?['content']"},"Set_variable_3":{"runAfter":{"Compose_1":["Succeeded"]},"metadata":{"operationMetadataId":"666e38d9-d047-468f-9ad7-66ed3cbdd5b6"},"type":"SetVariable","inputs":{"name":"Task4Response","value":"@outputs('Compose_1')"}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"a688b6e7-d9fa-4808-905d-b74ef0008a12"},"type":"Foreach"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"c7f99ed5-5c45-414d-92e2-685cd57d5cd5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Task1Response","type":"string","value":"' '"}]}},"Initialize_variable_1":{"runAfter":{},"metadata":{"operationMetadataId":"6bd16a1f-b2e6-437a-8abf-bf25548147fd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Task2Response","type":"string","value":"' '"}]}},"Initialize_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"070edfe0-35b3-4b45-a414-47afaebdcefd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Task3Response","type":"string","value":"' '"}]}},"Initialize_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"89dfa933-6e9b-403f-a3b8-40f81f8908cb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Task4Response","type":"string","value":"' '"}]}}},"outputs":{}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"[REDACTED]","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}